page-home {
  .drawing-active {
    background: #d6fffc;
  }
  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
}
.ion-card{
  width:80%;
  height: 25%;
  margin: auto;
  padding:20%;
  position: relative;
  text-align: center;

}
.home-card{
  padding: 10px;
  display: flex;
  justify-content: center;
}


