<!--
  Generated template for the SudokuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- Generated template for the SudokuComponent component -->
<ion-header>

  <ion-navbar>
    <ion-title class="justify-content-center">Sudoku Game</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>


<div class="board-centre display-flex justify-content-center">
  <table style="display: flex; justify-content: center;">
    <tr>
      <td *ngFor="let row1 of rowOne let i=index;"><input type="text" [class.invalid]="i==selectedIdx && selectedRow == 'One' && !!checker" class="input-size" [(ngModel)]="row1.value" (click)="isValidSudoku(i,row1.value,'One')" (ngModelChange)="isValidSudoku(i,row1,'One')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row2 of rowTwo let i=index;" ><input type="text"   class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Two' && !!checker" [(ngModel)]="row2.value" (click)="isValidSudoku(i,row2.value,'Two')" (ngModelChange)="isValidSudoku(i,row2,'Two')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row3 of rowThree let i =index;"><input type="text"  class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Three' && !!checker" [(ngModel)]="row3.value" (click)="isValidSudoku(i,row3.value,'Three')" (ngModelChange)="isValidSudoku(i,row3,'Three')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row4 of rowFour let i=index;"><input type="text"   class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Four' && !!checker" [(ngModel)]="row4.value" (click)="isValidSudoku(i,row4.value,'Four')" (ngModelChange)="isValidSudoku(i,row4,'Four')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row5 of rowFive let i=index;"><input type="text"  class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Five' && !!checker" [(ngModel)]="row5.value" (click)="isValidSudoku(i,row5.value,'Five')" (ngModelChange)="isValidSudoku(i,row5,'Five')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row6 of rowSix let i=index;" ><input type="text"  class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Six' && !!checker" [(ngModel)]="row6.value" (click)="isValidSudoku(i,row6.value,'Six')" (ngModelChange)="isValidSudoku(i,row6,'Six')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row7 of rowSeven let i=index;"><input type="text"  class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Seven' && !!checker" [(ngModel)]="row7.value" (click)="isValidSudoku(i,row7.value,'Seven')" (ngModelChange)="isValidSudoku(i,row7,'Seven')" maxlength="1"></td>
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text" class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row8 of rowEight let i= index;"><input type="text"  class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Eight' && !!checker" [(ngModel)]="row8.value" (click)="isValidSudoku(i,row8.value,'Eight')" (ngModelChange)="isValidSudoku(i,row8,'Eight')" maxlength="1"></td>
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>
    <tr>
      <td *ngFor="let row9 of rowNine let i=index;"><input type="text"   class="input-size" [class.invalid]="i==selectedIdx && selectedRow == 'Nine' && !!checker" [(ngModel)]="row9.value" (click)="isValidSudoku(i,row9.value,'Nine')" (ngModelChange)="isValidSudoku(i,row9,'Nine')" maxlength="1"></td>
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
      <!--<td><input type="text"  class="input-size"></td>-->
    </tr>

  </table>
</div>
</ion-content>
  <!--<table>-->
  <!--<div class="row">-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('1')">1</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('2')">2</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('3')">3</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('4')">4</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('5')">5</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('6')">6</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('7')">7</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('8')">8</button></div>-->
    <!--<div><button type="button"   class="input-size btn-shape" (click)="keyBoardEvent('9')">9</button></div>-->

    <!--&lt;!&ndash;<td><input type="text" class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text"  class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text"  class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text"  class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text"  class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text" class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text"  class="input-size"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input type="text"  class="input-size"></td>&ndash;&gt;-->
  <!--</div></table>-->

  <!--<table >-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--<tr *ngFor="let row1 of [1,2,3,4,5,6,7,8,9]">-->
  <!--<td>{{row1}}</td>-->
  <!--</tr>-->
  <!--</table>-->

